<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <title>Error 503 | Venix - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc."/>
        <meta name="author" content="Zoyothemes"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

        <!-- Head CSS -->
        <script src="assets/js/head.js"></script>

    </head>

    <body class="maintenance-bg">

        <!-- Begin page -->
        <div class="maintenance-pages">
            <div class="container p-0">
                <div class="row">

                    <div class="col-xl-6 d-flex justify-content-center align-items-center mx-auto">
                        <div class="text-center">
                            <div class="mb-0">
                                <div class="error-section">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="error-code">5</span>
                                        <iconify-icon icon="solar:face-scan-circle-bold" class="align-middle shield-icon mb-0"></iconify-icon>
                                        <span class="error-code">3</span>
                                    </div>

                                    <h1 class="fw-semibold display-6 text-dark text-capitalize mb-4">Service unavailable</h1>
                                    <p class="text-muted error-page mb-3 fs-16">Temporary service outage. Please try again later.</p>
                                </div>                                
                            </div>

                            <a class="btn btn-primary mt-3" href="index.html">Return Home</a>
                        </div>    
                    </div>

                </div>
            </div>
        </div>
        <!-- END wrapper -->

        <!-- Vendor -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/iconify-icon/iconify-icon.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>
        <script src="assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>

        <!-- App js-->
        <script src="assets/js/app.js"></script>
        
    </body>
</html>